body{
    margin: 0;
    padding: 0;
    
}
.nav {
  display: flex;
  align-items: center;
  background-color: rgb(11, 0, 0);
  color: rgb(248, 248, 248);
}

nav ul {
    justify-content:end;

  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}



 .nav a:hover{
    background-color: #fff;
    color: black;
 }

  
    .home{
        display: flex;
        background-color: rgb(0, 0, 0);
        justify-content: space-evenly;
    }
  
   .title{
    padding-top: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .title h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 65px;
padding-top: 3rem;
   }
   .title h4{
    font-size:4em;
    padding-top: 3rem;

    color:rgb(160, 155, 150)
   }
   .title p{
       padding-top:3rem;
       color: rgb(255, 255, 255);
   }
   .title button{
    margin-top: 3rem;
    width: 200px;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
   }
   .title button:hover{
    background-color:#6c6565;
    color: white;
   }
   
   .banner img{
    display: flex;
    width: 600px;

   }
    .collection{
        padding: 5px;
        text-align: center;
    }
    .collection h3{
        font-family: Georgia;
        font-size: 20px;
    }
    .collection p{
        font-size: 16px;

    }
    .cards{ 
    
        justify-content: center;
      display:flex;
      padding-left: 10px;
    }
    .cards :hover{
     color:#504d44;

    }
    .card img{
        width: 300px;
    }

    .rating i {
        color: #ffc107;
        font-size: 16px;
      }

      /* carousal */
      .carousel{
        margin: 30px;
      }
      .carousel h1{
        text-align: center;
        font-size: 1rem bold;
        font-family: sans-serif;
      }
      .carousel-item {
        height: 500px;
        width: 500px;
      }
      
      .carousel-item video {
        object-fit: cover;
        width: 500px;
        height: 500px;
      }
      
      .carousel-control-prev,
      .carousel-control-next {
        width: 10%;
        background: rgba(0, 0, 0, 0.5);
      }
      
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        font-size: 3rem;
        color: #fff;
      }

      /* product  */

      .product-grid-title{
        text-align: center;
        font-family:monospace ;
        font-weight: 900;    
        justify-content: center;;
      }
     
      /* Product grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product img {
  width: 350px;
  height: 400px;
}

.product .price {
  font-size: 18px;
  font-weight: bold;
  color: #f60;
}
.add-to-cart {
  border: none;
  width: 200px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color:#1d8be0
}
/* Shopping cart */

/* .my-cart{
  display: flex;
  text-align: center;
  width: 100%;
}
.cart-title{
  text-align: center;
  justify-items: center;
}
.my-cart img{
  display: flex;
  width: 300px;
  height: 300px;
}
.cart-info{
font-size: 20px;

}
.select{
  flex-wrap: wrap;
  display: block;
  flex-direction: column;
} */
/* Style the size selection dropdown menu */
/* .cart-info select {
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
.cart button{
  border:none;
  width: 300px;
  font-size: 22px;
  padding: 5px;
  background-color: black;
  color:rgb(253, 253, 253);
  border-radius: 3px;
}
button:hover{
  background: rgb(0, 0, 0);
  transition: all .2s ease-in-out;
} */




/* contact page */
.contact{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  margin: 30px;
}
.contact h1{
  text-align: center;
}
.contact h2{
  font-weight: bold;
}
.map{
  display: flex;
  justify-content: space-evenly;
}

    
/* footer  */
footer {
  color: #e4cdcd;
  background: #000;
  padding:20px;
}

.footer { 
display: flex;
justify-content: space-evenly;
text-align: center;
}
footer ul li   {
  padding: 10px;
text-decoration: none;
list-style-type:none;
}
.footer ul li a{
  padding: 10px;
  cursor:pointer;
  color: rgb(246, 246, 246);
  text-decoration: none;

}
hr {
  background: rgb(168, 168, 168);
}
.footer-copyright{
  text-align: center;
  top: 20px;
}
